<html>
	<head>
		<title> Acerca de mi </title>
	</head>
	<body>
		<h1> Mi informacion personal </h1>

		<p> <b> Mi nombre: <%= name%> </b></p>
		<p> <b> Trabajo en: <%= job%>  </b></p>
	</body>
</html>
